name: Release

on:
  push:
    tags:
      - v*

jobs:
  release:
    name: Release (${{ matrix.package.name }})
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    strategy:
      matrix:
        package:
          - name: eslint-config
            directory: packages/eslint
          - name: stylelint-config
            directory: packages/stylelint
          - name: tsconfig
            directory: packages/typescript
          - name: unocss-config
            directory: packages/unocss

    steps:
      - name: Setup Bun
        uses: kevinmarrec/workflows/setup-bun@bf313d1678d7eefcd50f068ad4de8570242a2952 # main

      - name: Build
        run: bun --cwd ${{ matrix.package.directory }} build

      - name: Copy LICENSE
        run: cp LICENSE ${{ matrix.package.directory }}

      - name: Update npm
        run: npm install -g npm@latest

      - name: Publish
        working-directory: ${{ matrix.package.directory }}
        run: npm publish --access public

  create-release-notes:
    name: Create release notes
    runs-on: ubuntu-latest
    needs: release

    permissions:
      contents: write

    steps:
      - name: Setup Bun
        uses: kevinmarrec/workflows/setup-bun@bf313d1678d7eefcd50f068ad4de8570242a2952 # main
        with:
          fetch-all: true
          auto-install: false

      - name: Create release notes
        run: bunx changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  workflow-cleanup:
    name: Workflow Cleanup
    runs-on: ubuntu-latest

    permissions:
      actions: write

    steps:
      - name: Cleanup skipped workflow runs on main branch
        run: gh run list -R $REPO --workflow ci.yml --branch main --status skipped --json databaseId --jq '.[].databaseId' | xargs -rn 1 gh run delete -R $REPO
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
